#https_warning {
	z-index: 100 !important;
	position: absolute !important;
	background-color: black !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
	opacity: 0.9 !important;
}
#https_warning p {
	font-size: 30pt !important;
//	position: absolute !important;
//	top: 45% !important;
//	left: 45% !important;
	vertical-align: middle !important;
	color: white !important;
	text-align: center !important;
}
